/target
/*/target
/*.ipr
/*/*.ipr
/.idea
/*/.idea
/*.iws
/*/*.iws
/*.iml
/*/*.iml
/*~
/*/*~
/.project
/.settings
/*/.project
/*/.settings
/*/.classpath
/*/.factorypath
*~
doc/mcd/output
/*/node
/*/node_modules
