/target
/*/target
/*.ipr
/*/*.ipr
/.idea
/*/.idea
/.vscode
/*/.vscode
/*.iws
/*/*.iws
/*.iml
/*/*.iml
/*~
/*/*~
/.project
/.settings
/*/.project
/*/.settings
/*/.classpath
/*/.factorypath
*~
doc/mcd/output
doc/icons/output
doc/icons/.fontcustom-manifest.json
/*/node
/node_modules
/*/node_modules
/*/dist

# local env files
/*/.env.local
/*/.env.*.local

# Log files
/*/npm-debug.log*
/**/.attach_pid*