@terra-cotta: #E17055;
@pelorous: #1E9BC4;
@summer-sky: #1AB7DA;
@cyprus: #0A3C4D;

@black: #000000;
@gunmetal: #2D3436;
@pale-sky: #636E72;
@very-light-grey: #CDCDCD;
@link-water: #D2DAE2;

@white: #FFFFFF;
@white-smoke: #F7F7F7;
@gainsboro: #E7E7E7;
@zircon: #EBEEEE;
@solitude: #DFE6E9;

@cardinal: #D62137;
@lime-green: #44BD32;
@carrot-orange: #E67E22;
@orange-odd: #E18755;
@orange-even: #D6743D;

@galery-background : #181818;
@galery-pick-background : #062028;

@black-alpha-50: rgba(0, 0, 0, 0.5);
@black-alpha-60: rgba(0, 0, 0, 0.6);
@black-alpha-90: rgba(0, 0, 0, 0.9);
@transparent: rgba(0, 0, 0, 0);
@white-smoke-alpha-20: rgba(247, 247, 247, 0.2);
