
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OpenSans-Italic.ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/OpenSans-Bold.ttf');
}

// Titles
@fontsize-header-title: 24px;
@fontsize-header-title-small: 20px;
@media(max-width:350px) {
  @fontsize-header-title: 14px;
}

@fontsize-title: 22px;
@fontsize-top: 12px;
@fontsize-top1: 20px;
@fontsize-top4: 18px;
@fontsize-title-keyboardshowing: 16px;

// Menus
@fonsize-menu-item-span: 14px;
@fonsize-menu-item: 20px;

// Dialogs & toasters
@fontsize-dialog-title: 17px;
@fontsize-dialog-button: @fontsize-dialog-title;
@fontsize-dialog-text: 13px;
@fontsize-toaster: 12px;

// Paragraphs
@fontsize-span-big: 18px;
@fontsize-paragraph: 16px;
@fontsize-header-paragraph: 14px;
@fontsize-small-paragraph: 12px;
@fontsize-feedback-paragraph: 12px;
@fontsize-info: 12px;

// Buttons & forms
@fontsize-button-verry-big: 24px;
@fontsize-button-big: 20px;
@fontsize-button: 18px;
@fontsize-form-header: 14px;
@fontsize-form-input: 12px;
@fontsize-form-error: 10px;

// footer
@fontsize-footer: 19px;
@fontsize-small-chevron: 7px;

// line-height paddings
@line-height-padding-small: 2px;
@line-height-padding-medium: 4px;
@line-height-padding-large: 5px;
@line-height-padding-x-large: 7px;
@line-height-padding-xx-large: 8px;
@line-height-padding-xxx-large: 9px;