@font-face {
    font-family: 'Fishola-Icons';
    src:
      url('/fonts/Fishola-Icons.ttf?n18wp9') format('truetype'),
      url('/fonts/Fishola-Icons.woff?n18wp9') format('woff'),
      url('/fonts/Fishola-Icons.svg?n18wp9#Fishola-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Fishola-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-calendar:before {
    content: "\e901";
  }
  .icon-clock:before {
    content: "\e902";
  }
  .icon-dashboard:before {
    content: "\e903";
  }
  .icon-delete:before {
    content: "\e904";
  }
  .icon-edit:before {
    content: "\e905";
  }
  .icon-faq:before {
    content: "\e906";
  }
  .icon-fish:before {
    content: "\e907";
  }
  .icon-fishing:before {
    content: "\e908";
  }
  .icon-home:before {
    content: "\e909";
  }
  .icon-info:before {
    content: "\e90a";
  }
  .icon-lake:before {
    content: "\e90b";
  }
  .icon-logout:before {
    content: "\e90c";
  }
  .icon-menu:before {
    content: "\e90d";
  }
  .icon-plus:before {
    content: "\e90e";
  }
  .icon-profile:before {
    content: "\e90f";
  }
  .icon-send:before {
    content: "\e910";
  }
  .icon-stop:before {
    content: "\e911";
  }
  .icon-warning:before {
    content: "\e912";
  }
