/*
  Icon Font: Fishola-Icons
*/

@font-face {
  font-family: "Fishola-Icons";
  src: url("~/public/fonts/Fishola-Icons.eot");
  src: url("~/public/fonts/Fishola-Icons.eot?#iefix") format("embedded-opentype"),
    url("~/public/fonts/Fishola-Icons.woff2") format("woff2"),
    url("~/public/fonts/Fishola-Icons.woff") format("woff"),
    url("~/public/fonts/Fishola-Icons.ttf") format("truetype"),
    url("~/public/fonts/Fishola-Icons.svg#Fishola-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Fishola-Icons";
    src: url("~/public/fonts/Fishola-Icons.svg#Fishola-Icons") format("svg");
  }
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-arrow:before,
.icon-calendar:before,
.icon-check:before,
.icon-chevron:before,
.icon-clock:before,
.icon-dashboard:before,
.icon-delete:before,
.icon-dot_empty:before,
.icon-dot_full:before,
.icon-download:before,
.icon-edit:before,
.icon-error:before,
.icon-eye:before,
.icon-eye-slash:before,
.icon-faq:before,
.icon-files:before,
.icon-fish:before,
.icon-fishing:before,
.icon-fullscreen:before,
.icon-gallery:before,
.icon-home:before,
.icon-info:before,
.icon-lake:before,
.icon-logout:before,
.icon-magnifying-glass:before,
.icon-menu:before,
.icon-photo:before,
.icon-plus:before,
.icon-profile:before,
.icon-redo:before,
.icon-send:before,
.icon-settings:before,
.icon-share:before,
.icon-size:before,
.icon-star:before,
.icon-stop:before,
.icon-success:before,
.icon-triangle:before,
.icon-warning:before,
.icon-weight:before {
  display: inline-block;
  font-family: "Fishola-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow:before {
  content: "\f100";
}

.icon-calendar:before {
  content: "\f101";
}

.icon-check:before {
  content: "\f102";
}

.icon-chevron:before {
  content: "\f103";
}

.icon-clock:before {
  content: "\f104";
}

.icon-dashboard:before {
  content: "\f105";
}

.icon-delete:before {
  content: "\f106";
}

.icon-dot_empty:before {
  content: "\f107";
}

.icon-dot_full:before {
  content: "\f108";
}

.icon-download:before {
  content: "\f109";
}

.icon-edit:before {
  content: "\f10a";
}

.icon-error:before {
  content: "\f10b";
}

.icon-eye:before {
  content: "\f10c";
}

.icon-eye-slash:before {
  content: "\f10d";
}

.icon-faq:before {
  content: "\f10e";
}

.icon-files:before {
  content: "\f10f";
}

.icon-fish:before {
  content: "\f110";
}

.icon-fishing:before {
  content: "\f111";
}

.icon-fullscreen:before {
  content: "\f112";
}

.icon-gallery:before {
  content: "\f113";
}

.icon-home:before {
  content: "\f114";
}

.icon-info:before {
  content: "\f115";
}

.icon-lake:before {
  content: "\f116";
}

.icon-logout:before {
  content: "\f117";
}

.icon-magnifying-glass:before {
  content: "\f118";
}

.icon-menu:before {
  content: "\f119";
}

.icon-photo:before {
  content: "\f11a";
}

.icon-plus:before {
  content: "\f11b";
}

.icon-profile:before {
  content: "\f11c";
}

.icon-redo:before {
  content: "\f11d";
}

.icon-send:before {
  content: "\f11e";
}

.icon-settings:before {
  content: "\f11f";
}

.icon-share:before {
  content: "\f120";
}

.icon-size:before {
  content: "\f121";
}

.icon-star:before {
  content: "\f122";
}

.icon-stop:before {
  content: "\f123";
}

.icon-success:before {
  content: "\f124";
}

.icon-triangle:before {
  content: "\f125";
}

.icon-warning:before {
  content: "\f126";
}

.icon-weight:before {
  content: "\f127";
}