/*
  Icon Font: Fishola-Icons
*/

@font-face {
  font-family: "Fishola-Icons";
  src: url("/fonts/Fishola-Icons.eot");
  src: url("/fonts/Fishola-Icons.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Fishola-Icons.woff2") format("woff2"),
       url("/fonts/Fishola-Icons.woff") format("woff"),
       url("/fonts/Fishola-Icons.ttf") format("truetype"),
       url("/fonts/Fishola-Icons.svg#Fishola-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Fishola-Icons";
    src: url("/fonts/Fishola-Icons.svg#Fishola-Icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow:before,
.icon-calendar:before,
.icon-chevron:before,
.icon-clock:before,
.icon-dashboard:before,
.icon-delete:before,
.icon-edit:before,
.icon-faq:before,
.icon-fish:before,
.icon-fishing:before,
.icon-home:before,
.icon-info:before,
.icon-lake:before,
.icon-logout:before,
.icon-magnifying-glass:before,
.icon-menu:before,
.icon-plus:before,
.icon-profile:before,
.icon-send:before,
.icon-stop:before,
.icon-success:before,
.icon-triangle:before,
.icon-warning:before {
  display: inline-block;
  font-family: "Fishola-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow:before { content: "\f100"; }
.icon-calendar:before { content: "\f101"; }
.icon-chevron:before { content: "\f102"; }
.icon-clock:before { content: "\f103"; }
.icon-dashboard:before { content: "\f104"; }
.icon-delete:before { content: "\f105"; }
.icon-edit:before { content: "\f106"; }
.icon-faq:before { content: "\f107"; }
.icon-fish:before { content: "\f108"; }
.icon-fishing:before { content: "\f109"; }
.icon-home:before { content: "\f10a"; }
.icon-info:before { content: "\f10b"; }
.icon-lake:before { content: "\f10c"; }
.icon-logout:before { content: "\f10d"; }
.icon-magnifying-glass:before { content: "\f10e"; }
.icon-menu:before { content: "\f10f"; }
.icon-plus:before { content: "\f110"; }
.icon-profile:before { content: "\f111"; }
.icon-send:before { content: "\f112"; }
.icon-stop:before { content: "\f113"; }
.icon-success:before { content: "\f114"; }
.icon-triangle:before { content: "\f115"; }
.icon-warning:before { content: "\f116"; }
