
/* ========== Responsive variables & rules ========== */

// Margins
@margin-x-small: 5px;
@margin-small: 10px;
@margin-medium: 20px;
@margin-large: 30px;
@margin-large-desktop: 66px;
@margin-x-large: 40px;
@margin-xx-large: 50px;

// Vertical margins
@vertical-margin-xx-small: 5px;
@vertical-margin-x-small: 6px;
@vertical-margin-small: 10px;
@vertical-margin-medium: 20px;
@vertical-margin-large: 30px;
@vertical-margin-xx-large: 50px;

// Menus
@margin-header-top: 10px;
@margin-menu-item: 15px;
@desktop-menu-width: 274px;

// Others
@pastille-size: 30px;