@import "_colors";
@import "_font";
@import "_icons";
@import "_responsive";

@header-height: calc(40px + env(safe-area-inset-top));
@secondary-header-height: 40px;
@average-header-height: 30px;
@footer-height: calc(76px + env(safe-area-inset-bottom));
@reduced-footer-height: calc(0px + env(safe-area-inset-bottom));
@feedback-top: calc(50px + env(safe-area-inset-top));
@toaster-height: calc(50px + env(safe-area-inset-top));
@toaster-height-desktop: 73px; // Coïncide avec la hauteur du header sur la page d'accueil

@desktop-button-width: 283px;

button {
  cursor: pointer;
}

.icon-arrow.icon-back {
  transform: rotate(180deg);
}

.icon-chevron.icon-chevron-up {
  transform: rotate(180deg);
  position: relative;
  top: -3px;
}

/* ========== Pastilles ========== */
@avatar-background: #81ECEC;

.pastille {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px solid;
  line-height: calc(@fontsize-header-paragraph + @line-height-padding-small);
  font-size: @fontsize-header-paragraph;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pastille.filled {
  color: @white;
  background: @pelorous;
}
.pastille.unfilled {
  color: @pelorous;
  background: transparent;
}



/* ========== Checkboxes ========== */
.pelorous-checkbox {
  display: none;
}
.pelorous-checkbox + label {
  background-color: transparent;
  border: 1px solid @pelorous;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  // padding: 9px;
  border-radius: 1px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
// .pelorous-checkbox + label:active,
// .pelorous-checkbox:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }
.pelorous-checkbox:checked + label {
  background-color: @pelorous;
  border: 1px solid @pelorous;
  border-radius: 1px;
  // color: @white;
}
.pelorous-checkbox:checked + label:after {
  content: '\f102';
  font-family: 'Fishola-Icons';
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 3px;
  color: @white;
}


/* ========== Checkboxes ========== */
.pelorous-radio {
  display: none;
}
.pelorous-radio + label {
  background-color: transparent;
  border: 1px solid @pelorous;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  // padding: 9px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
// .pelorous-radio + label:active,
// .pelorous-radio:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }
.pelorous-radio:checked + label {
  background-color: @pelorous;
  border: 1px solid @pelorous;
  border-radius: 8px;
  // color: @white;
}
.pelorous-radio:checked + label:after {
  content: '\f102';
  font-family: 'Fishola-Icons';
  font-size: 10px;
  position: absolute;
  top: -1px;
  left: 3px;
  color: @white;
}



/*========== Retour haptique ============ */

@gradient-white: @white;
@gradient-opposite: @terra-cotta;

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, @gradient-white 0%, @gradient-white 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, @gradient-white 25%, @gradient-white 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, @gradient-white 50%, @gradient-white 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, @gradient-white 75%, @gradient-white 100%);
  }
  100% {
    color: @gradient-white;
    background: radial-gradient(circle at center, @gradient-opposite 99%, @gradient-white 100%, @gradient-white 100%);
  }
}

button:active {
  animation: gradient 100ms;
  background: @gradient-opposite;
  color: @gradient-white;
}

.pastille:active {
  animation: gradient 100ms;
  background: @gradient-opposite;
  color: @gradient-white;
}



/*========== Divers ============ */

.bottom-page-spacer {
  height: 30px;
  min-height: 30px;

  &.keyboardShowing {
    height: 50px;
    min-height: 50px;
  }
}

/*========= iOS-specific ============ */
// Required on iPhone to avoid app to overlapp status bar and other protected zones*/
.header {
  margin-top: env(safe-area-inset-top);
}
body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/*========= Keyboard specific ======== */
// Applied when keyboard is showing to all elements
// with hiddenWhenKeyboardShows or hiddenWhenKeyboardShows_SmallScreensOnly class
.hidden {
  display: none !important;
}

.hide-on-desktop {
  @media screen and (min-width: @desktop-min-width) {
    display: none !important;
  }
}

.hide-on-mobile {
  @media screen and (max-width: @mobile-max-width) {
    display: none !important;
  }
}

/*========== Buttons ============ */

.buttons-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: @margin-xx-large;
}

.button {
  height: 45px;
  width: @desktop-button-width;
  margin-left: @margin-small;
  margin-right: @margin-small;

  button {
    height: 100%;
    width: 100%;
    border-radius: 38px;

    font-style: normal;
    font-weight: bold;
    font-size: @fontsize-button;
    line-height: calc(@fontsize-button + @line-height-padding-x-large);

    border: 0px;
    padding-left: @margin-medium;
    padding-right: @margin-medium;

  }

  &.button-primary {
    button {
      background-color: @terra-cotta;
      color: @white;
    }
  }

  &.button-secondary {
    button {
      background-color: transparent;
      color: @pelorous;
      border: 1px solid @pelorous;
    }
  }

  &.button-danger {
    button {
      background-color: @cardinal;
      color: @white;
    }
  }

}

@media screen and (min-width: @desktop-min-width) {
  .two-columns-row-on-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    >:nth-child(1),
    >:nth-child(2) {
      width: calc(50% - @margin-medium);
    }
  }
}
