@import "_colors";
@import "_font";
@import "_icons";

@black-alpha-50: rgba(0, 0, 0, 0.5);
@black-alpha-90: rgba(0, 0, 0, 0.9);
@transparent: rgba(0, 0, 0, 0);

@header-height: 40px;
@secondary-header-height: 40px;
@footer-height: 76px;

button {
  cursor: pointer;
}

.icon-arrow.icon-back {
  transform: rotate(180deg);
}

.icon-chevron.icon-chevron-up {
  transform: rotate(180deg);
  position: relative;
  top: -3px;
}

/* ========== Pastilles ========== */
@avatar-background: #81ECEC;

.pastille {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px solid;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pastille.filled {
  color: @white;
  background: @pelorous;
}
.pastille.unfilled {
  color: @pelorous;
  background: transparent;
}



/* ========== Checkboxes ========== */
.pelorous-checkbox {
  display: none;
}
.pelorous-checkbox + label {
  background-color: transparent;
  border: 1px solid @pelorous;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  // padding: 9px;
  border-radius: 1px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
// .pelorous-checkbox + label:active,
// .pelorous-checkbox:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }
.pelorous-checkbox:checked + label {
  background-color: @pelorous;
  border: 1px solid @pelorous;
  border-radius: 1px;
  // color: @white;
}
.pelorous-checkbox:checked + label:after {
  content: '\f102';
  font-family: 'Fishola-Icons';
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 3px;
  color: @white;
}


/* ========== Checkboxes ========== */
.pelorous-radio {
  display: none;
}
.pelorous-radio + label {
  background-color: transparent;
  border: 1px solid @pelorous;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  // padding: 9px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
// .pelorous-radio + label:active,
// .pelorous-radio:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }
.pelorous-radio:checked + label {
  background-color: @pelorous;
  border: 1px solid @pelorous;
  border-radius: 8px;
  // color: @white;
}
.pelorous-radio:checked + label:after {
  content: '\f102';
  font-family: 'Fishola-Icons';
  font-size: 10px;
  position: absolute;
  top: -1px;
  left: 3px;
  color: @white;
}



/*========== Retour haptique ============ */

@gradient-white: @white;
@gradient-opposite: @terra-cotta;

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, @gradient-white 0%, @gradient-white 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, @gradient-white 25%, @gradient-white 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, @gradient-white 50%, @gradient-white 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, @gradient-white 75%, @gradient-white 100%);
  }
  100% {
    color: @gradient-white;
    background: radial-gradient(circle at center, @gradient-opposite 99%, @gradient-white 100%, @gradient-white 100%);
  }
}

button:active {
  animation: gradient 100ms;
  background: @gradient-opposite;
  color: @gradient-white;
}

.pastille:active {
  animation: gradient 100ms;
  background: @gradient-opposite;
  color: @gradient-white;
}



/*========== Divers ============ */

.bottom-page-spacer {
  height: 30px;
}
