@import "_colors";
@import "_font";
@import "_responsive";

@header-height: calc(40px + env(safe-area-inset-top));
@secondary-header-height: 40px;
@average-header-height: 30px;
@footer-height: calc(76px + env(safe-area-inset-bottom));
@reduced-footer-height: calc(0px + env(safe-area-inset-bottom));
@feedback-top: calc(50px + env(safe-area-inset-top));

@toaster-height-desktop: 73px; // Coïncide avec la hauteur du header sur la page d'accueil
@toaster-height: calc(50px + env(safe-area-inset-top));

@desktop-button-width: 283px;

